
modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev:server"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[env]
NODE_ENV = "development"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["sh", "-c", "NODE_ENV=production node dist/index.js"]

[languages]
[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[unitTest]
language = "nodejs"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[[ports]]
localPort = 80
externalPort = 4200

[[ports]]
localPort = 5173
externalPort = 5173
